/edanote/config/local.php
/edanote/public/uploads/*
!/edanote/public/uploads/.gitkeep
/edanote/var/cache/*
!/edanote/var/cache/.gitkeep
/edanote/var/data/*
!/edanote/var/data/.gitkeep
/edanote/vendor/*

/*.zip
/.idea/

/edanote/apps/
